// Global 
$font-family-base: "Open Sans", sans-serif;
$border-radius: 6px;
$container-padding-x: 2rem;

// Form Controls
$form-floating-padding-y: 17px;
$form-floating-padding-x: 1rem;
$form-floating-height: 62px;
$form-floating-label-opacity: 1;
$enable-validation-icons: false;

// Buttons
$btn-font-weight: 600;
$btn-padding-x: 2.25rem;
$btn-padding-y: 1rem;
$btn-border-width: 0;

// Badge
$badge-font-weight: 600;
$badge-font-size: 12px;
$badge-padding-x: 16px;
$badge-padding-y: 8px;
$badge-border-radius: 50rem;
