.main {
  padding: 80px 0 90px;
}
.hero--wrapper {
  gap: 26px;
}

.hero--info {
  flex: 0 0 450px;
  width: 450px;

  &-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 63px;
    line-height: 63px;
    margin: 1rem 0 2rem 0;
  }

  @media (max-width: 575.98px) {
    flex: 0 0 100%;
    width: 100%;

    &-title {
      font-size: 40px;
      line-height: 48px;
    }
  }
}
.hero--newsletter {
  &-desc {
    font-size: 22px;
    line-height: 30px;
  }
  .form-control:focus,
  .form-control {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z' stroke='%233A3A3A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 6L12 13L2 6' stroke='%233A3A3A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 24px;
  }
}

.form--action {
  margin-top: 1rem;
}

.hero--slider {
  width: 336px;
  flex: 0 0 336px;
  &-img {
    margin: 0 auto;
    width: 306px;
    height: 420px;
    pointer-events: none;
    object-fit: cover;
  }

  @media (max-width: 575.98px) {
    width: 280px;
    flex: 0 0 280px;
    &-img {
      width: 257px;
      height: 348px;
    }
  }
}

.slider {
  top: -45px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 306px;
  height: 420px;
  overflow: unset;
  @media (max-width: 575.98px) {
    top: 33px;
    left: 11px;
  }
}

.hero--slider-next {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0;
  right: 0;
  bottom: 71px;
  z-index: 99;
  border: none;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: 100%;
  text-indent: -9999px;
  background-color: transparent;
}

.hero--slider-thumbs {
  position: absolute;
  left: 27px;
  width: 41px;
  height: 41px;
  bottom: 74px;

  @media (max-width: 575.98px) {
    left: 22px;
    width: 34px;
    height: 34px;
    bottom: 62px;
  }
}

.hero--slider-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  &.fadeIn {
    animation: 0.25s ease fadeIn;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}